@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


/* mobile */
@media only screen and (max-width: 600px) {
    #imgOne {
        width: 90vw;
        margin: auto;
    }
    
    h1 {
        font-size: 20px;
        padding-top: 2vh;
        padding-bottom: 2vh;
        opacity: 0.6;
        text-align: center;
        display: inline;
    }
}

/* desktop */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/background.jpg);
    background-size: cover;
    color: white;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

h1 {
    padding-top: 2vh;
    padding-bottom: 2vh;
    opacity: 0.6;
    font-size: 30px;
    text-align: center;
    display: inline;
}

.carousel-container {
    height: 100vh;
    display: grid;
    justify-content: center;
}

.arrow-container {
    display: flex;
    justify-content: center;
    padding-top: 2vh;
}

.fa-arrow-left {
    padding-top: 2vh;
    padding-right: 2vw;
}

.fa-arrow-right {
    padding-top: 2vh;
    padding-left: 2vw;
}

.fa-solid:hover {
    opacity: 0.2;
}

#imgOne {
    width: 60vw;
    border-radius: 12px;
    margin: auto;
}

.thumbnail-container {
    width: 60vw;
    padding-top: 3vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.thumbnail-img {
    width: 8vw;
    opacity: 0.4;
    border-radius: 12px;
}

.thumbnail-img:hover {
    cursor: pointer;
    opacity: 1;
}