@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/background.jpg);
    background-size: cover;
    color: white;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

h1 {
    padding-top: 2vh;
    padding-bottom: 2vh;
    opacity: 0.6;
}

.carousel-container {
    margin: auto;
    width: 60vw;
}

.fa-solid {
    padding-top: 2vh;
}

.fa-solid:hover {
    opacity: 0.2;
}

img {
    border-radius: 10px;
}

.thumbnail-container {
    width: 60vw;
    padding-top: 3vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.thumbnail-img {
    width: 8vw;
    opacity: 0.4;
}

.thumbnail-img:hover {
    cursor: pointer;
    opacity: 1;
}